* {
    transition: all 0.3s ease-in-out;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.banner {
    height: 600px;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.autohide{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

#lightSwitch {
    transform: scale(1.8);
  }
  
  .custom-theme.bg-light {
    background-color: darkslategray !important;
    border-radius: 3px;
    color: gainsboro;
    text-decoration: underline;
  }
  
  .custom-theme.bg-dark {
    background-color: blanchedalmond !important;
    box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
    color: dimgray;
    text-decoration: overline;
  }