@import "https://fonts.googleapis.com/css?family=Nunito:400,300,200,500,600,700";

* {
    transition: all 0.3s ease-in-out;
}

body {
    color: #37474F;
    font-family: 'Nunito', sans-serif;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: coral;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}
.autohide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.autohide-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.scrolled-down-bottom {
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up-bottom {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.inverted {
    filter: invert(100%);
}


.favourite-button {
  /* Style the button */
  font-size: 1.5em;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 1000; /* Ensure the button is always on top (ITS OVER NINE THOUSAAAAAND)*/
  /* Style the heart icon */
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding-left: 13px;
}
.favourite {
  color: red !important;
}
